@font-face 
{ 
font-family: "LemonMilk-Regular";  
src: url("/fonts/LEMONMILK-Regular.otf")format("woff2"); 
}

body {
    margin: 0px;
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#left-side {
    width: 40%;
    background-image: url("./images/background.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(109, 228, 146);
    background-position: center;
    padding: 10px 50px;
}

#right-side {
    width: 60%;
    padding: 10px 150px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: LemonMilk-Regular, sans-serif;
    font-size: 3rem;
    color: rgb(40, 50, 55);
}

p,
legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

.italic {
    font-style: italic;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.label-input-group {
    display: flex;
    flex-direction: column;
    width: 30%;
}

label {
    font-family: LemonMilk-Regular, sans-serif;
    font-size: 0.8rem;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    margin: 30px 0;
}

#last-paragraph p{
    font-size: 1.2rem;
}

form {
    margin: 30px 0px 30px 0px;
}

input[type="submit"] {
    background-color: rgb(114, 180, 124);
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border: 0;
    border-radius: 7px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input {
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    border: 1px solid rgb(235, 235, 235);
    padding: 5px;
    border-radius: 5px;
}

input:focus {
    box-shadow:1px 1px 10px 1px rgba(1,1,1,0.2);
    border: 1px solid rgb(129, 178, 129);
}

input:user-invalid {
    border: 1px solid rgb(255, 0, 0);

}

input:focus:invalid {
    border: 1px solid rgb(255, 0, 0);
}



a {
    color: rgb(144, 186, 130);
    text-decoration: none;
}